<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Movies</title>
</head>

<!--/*@thymesVar id="movie" type="movieapp.model.Movie"*/-->
<body>


<header>
    <h1><img class="center" src="../static/resources/images/logo.png" th:src="@{/resources/images/logo.png}"/></h1>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
    </style>
</header>


<h1>List of Movies</h1>

<p>
    <div th:each="movie : *{movies}">
        <td>
            <a href="#" th:href="@{'/movie/' + ${movie.id} + '/show'}" th:text="${movie.name }">
                Default Movie
            </a>
        </td>
        <br/>
    </div>

</p>




</body>
</html>