<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="${(movie.name) }" >Default Movie Name</title>
</head>

<!--/*@thymesVar id="movie" type="movieapp.model.Movie"*/-->
<header>
    <h1><img class="center" src="../static/resources/images/logo.png" th:src="@{/resources/images/logo.png}"/></h1>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
    </style>
</header>

<body>
    <div align="left">
        <b>Name:</b>
        <p th:text="${(movie.name) }">Default Movie Name</p>
        <b>Description:</b>
        <p th:text="${movie.description}">Default Movie Description</p>
        <b>
            <span th:if="${movie.directors.size() ==  1}">Director:</span>
            <span th:unless="${movie.directors.size() ==  1}">Directors:</span>
        </b>
        <p th:text="${#strings.replace((#strings.replace(movie.getPeopleNames('directors'),']','')),'[','')}">Default Movie Directors</p>
        <b>
            <span th:if="${movie.writers.size() ==  1}">Writer:</span>
            <span th:unless="${movie.writers.size() ==  1}">Writers:</span>
        </b>
        <p th:text="${#strings.replace((#strings.replace(movie.getPeopleNames('writers'),']','')),'[','')}">Default Movie Writers</p>
        <b>
            <span th:if="${movie.stars.size() ==  1}">Star:</span>
            <span th:unless="${movie.stars.size() ==  1}">Stars:</span>
        </b>
        <p th:text="${#strings.replace((#strings.replace(movie.getPeopleNames('stars'),']','')),'[','')}">Default Movie Stars</p>
    </div>
</body>
