<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Persons</title>
</head>

<header >
    <h1><img class="center" src="../static/resources/images/logo.png" th:src="@{/resources/images/logo.png}"/></h1>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
    </style>
</header>


<!--/*@thymesVar id="person" type="movieapp.model.Person"*/-->
<body style="background-color:black;", text="white">
<h1>List of Persons</h1>

<div style="background-color:grey;" align="left">
<div th:each="person : *{persons}">
    <td>
        <a href="#" th:href="@{'/person/' + ${person.id} + '/show'}" th:text="${person.name }">
            Default Person
        </a>
    </td>
    <br/>
</div>

</div>

</body>